# Directories containing large files
/videos/
/images/

# Python version and virtual environment files
/venv/
.python-version

# VSCode settings
.vscode

# YOLO neural network weights
yolo/yolov3.weights

# YOLO input and out files (images and videos)
yolo/inputs/
yolo/outputs/